h1 {
    text-align: center;;
}
body {
    
    text-align: justify;
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;

    line-height: 1.8em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
   background-color: #333;
   color:#fff;

   border : 5px red solid;
   border-radius: 20px;
   padding: 20px;
    margin : 20 px;
}