
body {
    
    text-align: justify;
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;

    line-height: 1.8em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
   background-color: #333;
   color:#fff;

   border : 5px red solid;
   border-radius: 20px;
   padding: 20px;
   margin: 20px;
}

.box-1 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bolder;
    font-style: italic ;
    text-align: center;
    word-spacing: 1em;
}

.box-2 {
    background-color: #e26e6e;
    color: #1b0d0d;

    border: 5px blue dotted;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.box-2 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    word-spacing: 1em;
}

.Categories {
    border: 2px #613434 solid;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.Categories h2 {
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;

}
a {
    text-decoration: none;
    color : black;
    font-weight: bold;
}

a:hover {
    
    font-style: italic;
    font-weight: bolder;
    color: red;
}

a:active {
   
    font-weight: bolder;
    color: green;
}
.Categories ul {
    
    padding-left: 20px;
    list-style : disc;
    list-style-type: square;
}

.Categories li {
    
    border-bottom: #333 solid 1px;
    padding-bottom: 3px;

}

.my-form {
    padding: 20px;
}

.my-form.form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type = "text"] , .my-form textarea {
    width: 100%;
    padding: 8px;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;

}

.button:hover {
    background : red;
    color: #fff;
}